.container{
    text-align: center;
    padding:35px;
}
.para{
    color:rgb(66, 64, 64);
    font-size:20px;
    font-family:"roboto";
    font-weight: 500;
}
.fa-brands{
    height:50px;
    width:50px;
    font-size:45px;
    padding:30px;
}